<div class="container mt-5">
    <div class="row">   
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body titulo">
                    <h3>TARJETA DE CREDITO</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Agregar Tarjeta</h3>
                    <form >
                        <div class="input-group mb-3 input-group-lg">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="titular" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3 input-group-lg">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-regular fa-credit-card"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="titular" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          
                          <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-regular fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg"><i class="fa-solid fa-database "></i> &nbsp;Aceptar</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Listado de tarjetas </h3>
                    <table class="table">
                        <tbody>
                        <tr *ngFor="let item of cargarListaTarjetas()">
                            <td>
                                {{item.nombre}}
                            </td>
                            <td>
                                {{item.numeroTarjeta}}
                            </td>
                            <td>
                                {{item.fechaExpiracion}}
                            </td>
                            <td>
                                <i class="fa-regular fa-pen-to-square"></i>
                            </td>
                            <td>
                                <i class="fa-regular fa-trash-can"></i>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>