<div class="container mt-5">
    <div class="row">   
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body titulo">
                    <h3>TARJETA DE CREDITO</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Agregar Tarjeta</h3>
                    <form [formGroup]="form" (ngSubmit)="AgregarTarjeta()">
                        <div  class="input-group mb-3 input-group-lg">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-user" 
                                [class.green-icon] = "this.form.get('titular')?.valid"
                                [class.red-icon] = "this.form.get('titular')?.invalid && this.form.get('titular')?.touched">
                                </i>
                            </span>
                            <input formControlName="titular"  maxlength="30" type="text" class="form-control" placeholder="titular" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div  class="input-group mb-3 input-group-lg">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-regular fa-credit-card" 
                                [class.green-icon] = "this.form.get('numeroTarjeta')?.valid" 
                                [class.red-icon] = "this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i>
                            </span>
                            <input formControlName="numeroTarjeta" maxlength="16" type="text" class="form-control" placeholder="Numero de Tarjeta" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                          
                          <div class="row">
                            <div class="col-lg-7" >
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-regular fa-calendar" 
                                        [class.green-icon]= "this.form.get('fechaExpiracion')?.valid"
                                        [class.red-icon] = "this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaExpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5" >
                                <div class="input-group input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-key" [class.green-icon]="this.form.get('cvv')?.valid"
                                        [class.red-icon] = "this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="cvv">
                                </div>
                            </div>
                            <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg"><i class="fa-solid fa-database "></i> &nbsp;Aceptar</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Listado de tarjetas </h3>
                    <table class="table">
                        <tbody>
                        <tr *ngFor="let item of cargarListaTarjetas()">
                            <td>
                                {{item.nombre}}
                            </td>
                            <td>
                                {{item.numeroTarjeta}}
                            </td>
                            <td>
                                {{item.fechaExpiracion}}
                            </td>
                            <td>
                                <i class="fa-regular fa-pen-to-square"></i>
                            </td>
                            <td>
                                <i class="fa-regular fa-trash-can"></i>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>