<div class="container mt-5">
    <div class="row">   
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body titulo">
                    <h3>TARJETA DE CREDITO</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Agregar Tarjeta</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo"> Listado de tarjetas </h3>
                    <table class="table">
                        <tr>|
                            <td>
                                Juan perez
                            </td>
                            <td>
                                237604126344136432
                            </td>
                            <td>
                                11/23
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>